/* You can add global styles to this file, and also import other style files */
body {
  margin: 40px !important;
}

app-car {
  display: block;
  margin-bottom: 15px;
}

app-car:last-child {
  margin-bottom: 0;
}
